/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2018, 5:40:47 AM
    Author     : rohan
*/

.table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:selected{
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view{
    -fx-border-color: black;
}
.table-view .column-header {
    
    -fx-background-color: linear-gradient(#E3F2FD 97%,black 3%);
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
    
}